# git-ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*.py[oc]
*~
*.bak
*.gladep
*.cache
.settings
.project
mxdc/VERSION
/docs/build/
fakegir
venv/
etc/
build/
dist/
/*.egg-info
/*.egg

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/*
!.idea/scopes/*
!.idea/watcherTasks.xml